body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Fondo azul claro */
  color: #333; /* Texto gris oscuro */
  text-align: center;
}

h1 {
  color: #0077cc; /* Azul vibrante para el título */
}

p {
  font-size: 18px;
  color: #555; /* Gris suave para párrafos */
}
